{% extends 'base.html' %}

<!--block for head-->
{% block head %}
<title>Home</title>
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
/>
{% endblock %}

<!--block for body-->
{% block body %}
<h1>Home Page</h1>
<a href="{{  url_for('search_title') }}">Search Title</a>
<a href="{{  url_for('sort_by_rating') }}">Sort By Rating</a>
<a href="{{  url_for('Top_Genres')  }}">Top Genres</a>
<a href="{{  url_for('sort_by_language')  }}">Sort By Language</a>
<a href="{{  url_for('sort_by_region')  }}">Sort By Region</a>
<a href="{{  url_for('rate_movie')  }}">Rate Movie</a>
{% endblock %}
