{% extends 'base.html' %}

<!-- block for head -->
{% block head %}
<title>Rate a Movie</title>
{% endblock %}

<!-- block for body -->
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<div class="content">

  <div class="header">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='icons/homepage_icon.png') }}" alt="Home" class="home-button">
    </a>
    <h1>Rate a Movie</h1>
  </div>
  
  <!-- Form to rate a movie -->
  <form action="/rate_movie" method="post">
    <label for="movie_id">Movie ID:</label>
    <input type="text" id="movie_id" name="movie_id" required>

    <label for="rating">Your Rating:</label>
    <select id="rating" name="rating" required>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    <button type="submit">Submit Rating</button>
  </form>
  
  <!-- Display success or error message -->
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}
</div>
{% endblock %}
