{% extends 'base.html' %}

<!--block for head-->
{% block head %}
<title>Search Title</title>
{% endblock %}

<!--block for body-->
{% block body %}
<div class="content">

  <h1>Search Title</h1>

  <form action="{{ url_for('search_title') }}" method="POST">
    <label for="title">Search Title:</label>
    <input type="text" id="title" name="title" required>
    <input type="submit" value="Search">
  </form>

  {% if message %}
  <p>{{ message }}</p>
  {% endif %}

  {% if search_result %}
  <table>
    <tr>
      <th>Original Title</th>
      <th>Year</th>
      <th>Type</th>
      <th>Rating</th>
      <th>Votes</th>
      <th>Rate This Movie</th>
    </tr>
    {% for entry in search_result %}
    <tr>
      <td><a href="{{ url_for('title_details', titleId=entry[0]) }}">{{ entry[1] }}</a></td>
      <td>{{ entry[2] }}</td>
      <td>{{ entry[3] }}</td>
      <td>{{ entry[4] }}</td>
      <td>{{ entry[5] }}</td>
      <td>
        <form action="{{ url_for('search_title') }}" method="POST">
          <input type="hidden" name="movie_id" value="{{ entry[0] }}">
          <input type="hidden" name="search_term" value="{{ request.form['title'] }}">
          <select name="rating" required>
            <option value="" disabled selected>Rate</option>
            {% for i in range(1, 11) %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
          <button type="submit">Submit</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}

