{% extends 'base.html' %}

<!--block for head-->
{% block head %}
<title>Sort By Ratings</title>
{% endblock %}

<!--block for body-->
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<div class="content">
  
<div class="header">
  <a href="{{ url_for('index') }}">
    <img src="{{ url_for('static', filename='icons/homepage_icon.png') }}" alt="Home" class="home-button">
  </a>
  <h1>Sort By Rating</h1>
</div>

  <table>
    <tr>
      <th>Title</th>
      <th>Average Rating</th>
      <th>Number of Votes</th>
    </tr>
    {% for entry in sorted_table %}
    <tr>
      <td><a href="{{ url_for('title_details', titleId=entry[3]) }}">{{ entry[0] }}</a></td>
      <td>{{ entry[1] }}</td>
      <td>{{ entry[2] }}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
