{% extends 'base.html' %}

<!--block for head-->
{% block head %}
<title>Title Details</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/title_details.css') }}">
{% endblock %}

<!-- Block for body -->
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
<div class="content">
  <h1>Title Details</h1>

  <div class="header">
    <a href="{{ url_for('index') }}">
      <img src="{{ url_for('static', filename='icons/homepage_icon.png') }}" alt="Home" class="home-button">
    </a>
    <h1>Search Title</h1>
  </div>

  {% if details_result %}
    {% for entry in details_result %}
    <div class="title-card">
      <h2>{{ entry[0] }}</h2>
      <p><span class="label">Type of Media:</span> {{ entry[1] }}</p>
      <p><span class="label">Target Audience:</span> {{ entry[2] }}</p>
      <p><span class="label">Start Year:</span> {{ entry[3] }}</p>
      <p><span class="label">End Year:</span> {{ entry[4] }}</p>
      <p><span class="label">Media Duration:</span> {{ entry[5] }}</p>
      <p><span class="label">Genres:</span> {{ entry[6] }}</p>
      <p><span class="label">Director(s):</span> {{ entry[7] }}</p>
    </div>
    {% endfor %}
  {% else %}
    <p>No details found for this title.</p>
  {% endif %}
</div>
{% endblock %}
